%% -*- erlang -*-

{plugins, [rebar3_lfe_compile]}.

{provider_hooks, [{post, [{compile, {lfe, compile}}]}]}.

%% {project_plugins, [lodox]}.

{deps, [clj]}.

{profiles, [
  {test, [
    {erl_opts, [debug_info, {src_dirs, ["test"]}]},
    {eunit_compile_opts, [{src_dirs, ["test"]}]},
    {deps, [
      {ltest, {git, "git://github.com/lfex/ltest.git", {tag, "0.8.0"}}}
    ]}
  ]}
]}.
