%%% -*- mode: erlang; flycheck-mode: nil -*-

{plugins, [
  {'lfe-compile', {git, "git://github.com/lfe-rebar3/compile", {tag, "0.5.0"}}}
]}.

{overrides, [
  {override, 'lfe-compile', [
    {deps, [
      %% FIXME: use 1.2 or whatever once it's released
      %% {lfe, "1.1.1"}
      {lfe,
       {git, "git://github.com/yurrriq/lfe.git",
        {branch, "feature/add-clojure-lib"}}}
    ]}
  ]}
]}.

{provider_hooks, [{post, [{compile, {lfe, compile}}]}]}.

{deps, [
  {lfe,
   {git, "git://github.com/yurrriq/lfe.git",
    {branch, "feature/add-clojure-lib"}}}
]}.

{profiles, [
  {test, [
    {eunit_compile_opts, [{src_dirs, ["test"]}]},
    {deps, [
      {ltest, {git, "git://github.com/lfex/ltest", {tag, "0.9.0"}}}
    ]}
  ]}
]}.
