%% -*- erlang -*-

{plugins, [
  {'lfe-compile', {git, "git://github.com/lfe-rebar3/compile", {tag, "0.5.0"}}}
]}.

{provider_hooks, [{post, [{compile, {lfe, compile}}]}]}.

%% {project_plugins, [lodox]}.

{deps, [
  {clj, {git, "git://github.com/lfex/clj", {tag, "0.4.1"}}}
]}.

{profiles, [
  {test, [
    {eunit_compile_opts, [{src_dirs, ["src", "test"]}]},
    {deps, [
      {ltest, {git, "git://github.com/lfex/ltest", {tag, "0.8.0"}}}
    ]}
  ]}
]}.
